$green: rgba(1, 197, 127, 1);
$blue: rgba(6, 102, 208, 1);
$light-grey: rgba(244, 247, 250, 1);
$text-dark: rgba(78, 92, 110, 1);
$text-light: rgba(125, 148, 182, 1);
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$border-grey: rgba(218, 225, 233, 1);
$border-green: rgba(1, 170, 108, 1);
